mixin video(video)
  .video-mixin 
    a.video-mixin__link(href=`/videos/${video.id}`) 
      img.video-mixin__img(src="", alt="") 
      .video-mixin__main-info 
        img.uploader__img(src=`${video.owner.avatarUrl}`) 
        .main-info__col2
          h1.title= video.title
          p.ownername= video.owner.username
          p 조회수 #{ video.meta.views }회
