extends base.pug

block content
  if errorMessage
    p= errorMessage
  img(src=`${loggedInUser.avatarUrl}`, alt="", width="100", height="100")
  form(method="POST", enctype="multipart/form-data")
    label(for="avatar") Avatar
    input#avatar(type="file", name="avatar", accept="image/*")
    input(
      placeholder="name",
      type="text",
      name="name",
      requried,
      value=loggedInUser.name
    )
    input(
      placeholder="email",
      type="email",
      name="email",
      requried,
      value=loggedInUser.email
    )
    input(
      placeholder="username",
      type="text",
      name="username",
      requried,
      value=loggedInUser.username
    )
    input(
      placeholder="location",
      type="text",
      name="location",
      requried,
      value=loggedInUser.location
    )
    input(type="submit", value="Update Profile")

    // 깃헙으로 계정 생성한 유저가 아니라, 이메일/비번으로 계정 생성한 유저일 경우에만
    if loggedInUser.socialOnly == false
      hr
      a(href="change-password") Change Password &rarr;
