extends base.pug

block content
  // videos의 control 속성 없앰
  #videoContainer(data-id=video.id)
    video(src=`${video.videoUrl}`)
    #videoControls
      .videoControls__row1
        input#timeline(type='range', step='1', min='0', value=0)
        #times
          span#currentTime 00:00
          span= ` / `
          span#totalTime 00:00
      .videoControls__row2
        div
          button#play
            i.fa-solid.fa-play
          button#mute
            i.fa-solid.fa-volume-high
          input#volume(type='range', step='0.1', value=0.5, min='0', max='1')
        div
          button#fullScreen 
            |
            |
            |
            |
            |
            |
            |
            |
            i.fa-solid.fa-expand

  //- p= video.description
  //- ul 
  //-   each hashtag in video.hashtags 
  //-     li= hashtag
  //- small= video.createdAt
  //- br
  //- div
  //-   small Uploaded by
  //-     a(href=`/users/${video.owner._id}`) #{ video.owner.name }
  //- br
  //- small 
  //-   | #{ video.meta.views } #{ video.meta.views <= 1 ? "view" : "views" }
  //- br
  //- small 
  //-   | #{ video.meta.rating } / 5
  //- br
  if loggedIn && String(video.owner._id) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;
  if loggedIn
    .video__add-comments 
      |
      |
      |
      |
      |
      form#commentForm.video__comment-form
        textarea(
          name='',
          cols='30',
          rows='10',
          placeholder='Write a nice comment....'
        )
        button Add Comment
  .video__comments
    ul 
      |
      |
      each comment in video.comments.reverse()
        li.video__comment
          i.fas.fa-comment
          span  #{ comment.text }

block scripts
  script(src='/assets/js/videoPlayer.js')
  if loggedIn
    script(src='/assets/js/commentSection.js')
